.topo {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    font-size: var(--fonte-t3);
    padding-block: 15px;
    margin-bottom: 24px;

    .usuario {
        & span {
            margin-right: 40px;
        }
    }

    .logo{
        height: 50px;
        width: 50px;
    }
}